@page "/"
@using NestedComplexModel
<EditForm Model="@_student" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
    <ObjectGraphDataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="name">Name: </label>
        <InputText Id="name" Class="form-control" @bind-Value="@_student.Name"></InputText>
        <ValidationMessage For="@(()   => _student.Name)" />
    </div>
    <div class="form-group">
        <label for="department">Department: </label>
        <InputText Id="department" Class="form-control" @bind-Value="@_student.Department"></InputText>
        <ValidationMessage For="@(()   => _student.Department)" />
    </div>
    <div class="form-group">
        <label for="address">Address: </label>
        <InputTextArea Id="address" Class="form-control" @bind-Value="@_student.Details.Address"></InputTextArea>
        <ValidationMessage For="@(()   => _student.Details.Address)" />
    </div>
    <div style="margin-top: 10px;"><button type="submit">Submit</button></div>
</EditForm>

@code
{
    public string? StatusMessage;
    public Student _student = new Student();

    public void HandleValidSubmit ()
    {
        StatusMessage = "It's a valid submission.";
    }

    public void HandleInvalidSubmit ()
    {
        StatusMessage = "It's an invalid submission. Please see the   error message(s) listed below.";
    }
}